* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
}
html {
    scroll-behavior: smooth!important;
}
body {
    background-color: #FFF;
}
/** Classes de padrão **/
.bg-padrao {
    background-color: #323297!important;
}
.mt-20 {
    margin-top: 20px!important;
}
.mt-30 {
    margin-top: 30px!important;
}
.mt-5 {
    margin-top: 5px!important;
}
.p-20 {
    padding: 20px!important;
}
.color-text {
    color: #0B0B99!important;
}
.fw-400 {
    font-weight: 400!important;
}
.fw-500 {
    font-weight: 500!important;
}
.fw-600 {
    font-weight: 600!important;
}
.fw-700 {
    font-weight: 700!important;
}
.fw-800 {
    font-weight: 800!important;
}
.bold {
    font-weight: bold!important;
}
.py-5 {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.py-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.bg-square {
    background-color: #3151AD!important;
}
.d-flex {
    display: flex!important;
}
.j-content-center {
    justify-content: center!important;
}
.square-ux {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-height: 50px;
}
.square {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.h1-square {
    font-size: 45px;
    line-height: 40px;
    margin-left: 10px;
}
/** Header **/
.header {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif!important;
    height: 110px;
    background-color: #323297;
    display: flex;
    justify-content: center;
}
.container-header {
    background-color: #323297;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1250px;
    height: 107px;
}
.logo {
    max-width: 300px;
}
.logo-header {
    width: 100%;
}
.menu {
    align-items: center;
}
nav, ul {
    display: flex;
    list-style: none;
}
.li-header a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500!important;
    color: #FFF;
    margin: 0px 20px;
    transition: all ease 0.4s;
    display: inline-block;
}
.li-header a::after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out
}
.li-header a:hover::after {
    transform: scaleX(1);
}
.menu-mobile {
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
}
.mm_line {
    border: 1px solid #FFF;
    width: 35px;
    margin: 9px 0px;
}
.menu-header-mobile {
    display: none;
}

/** Section apresentação **/
.section-apresentacao {
    height: auto!important;
    background-color: #FBFBFB;
    font-family: 'Poppins', Arial, Helvetica, sans-serif!important;
    display: flex;
    justify-content: center;
}
.container-apresentacao {
    height: 175px;
    width: 1250px!important;
    align-items: center;
}
.apresentacao-text {
    max-width: 550px!important;
}
.h1-apresentacao {
    font-size: 35px;
}
.p-apresentacao {
    font-size: 20.5px;
}

/** Section sobre **/
.section-sobre {
    height: 525px;
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    border-top: 3px solid #3151AD;
    font-family: 'Poppins', Arial, Helvetica, sans-serif!important;
}
.container-section-sobre {
    height: 525px;
    max-width: 1250px!important;
    flex-direction: column;
}
.p-sobre {
    font-size: 19px;
    max-width: 710px;
}
.sobre-content {
    justify-content: space-evenly!important;
}
.img-area {
    float: right;
    width: 500px;
}
.img-sobre {
    float: right;
    width: 400px;
    border-radius: 300px;
}

/** Section serviços **/
.section-servicos {
    height: 630px;
    background-color: #FBFBFB;
    border-top: 3px solid #3151AD;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif!important;
}
.container-servicos {
    height: 630px;
    width: 1250px;
    max-width: 1250px!important;
    flex-direction: column;
}
.servicos-area {
    display: flex;
    justify-content: space-between;
}
.servico {
    width: 300px;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
}
.servico-img {
    text-align: center;
}
.h1-servico {
    font-size: 20px;
    text-align: center;
}
.p-servico {
    font-size: 15px;
    max-height: 0!important;
    width: 100%;
}
.img-servicos {
    width: 100px;
    height: 100px;
}
.area2 {
    padding-top: 100px;
}

/** Section projetos **/
.section-projetos {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 400px;
    border-top: 3px solid #3151AD;
    background-color: #FBFBFB;
}
.container-projetos {
    width: 1250px;
    max-width: 100%!important;
}
.h1-projetos {
    font-size: 20px;
}
.espacador {
    width: 33px;
    height: 2px;
    background-color: #3151AD; 
    margin-top: 2px;
}
.projetos-area {
    justify-content: space-evenly;
}
.projeto {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-projeto {
    width: 200px;
}
.h3-projeto-title {
    text-align: center;
    font-size: 19px;
}









/** Responsivo **/

/**Desktop LG **/
@media only screen and (max-width: 992px) {
    .sobre-content {
        flex-direction: column-reverse!important;
    }
    .section-sobre, .container-section-sobre, .section-servicos, .container-servicos {
        background-color: #FBFBFB;
        height: auto;
    }
    .img-sobre {
        width: 350px;
        margin-top: 20px;
    }
    .sobre-texto {
        margin-top: 20px;
    }
    .servicos-area {
        display: flex;
        align-items:  center;
        flex-direction: column;
    }
    .servico {
        margin-bottom: 100px;
    }
    .p-servico {
        padding-top: 10px;
    }
    .area2 {
        padding-top: 0;
    }
}

/** Desktop MD **/
@media only screen and (max-width:830px) {
    .ul-header {
        display: none;
    }
    .menu-mobile {
        cursor: pointer!important;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .nav-mobile, ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-mobile, a {
        color: #FFF;
        text-decoration: none;
    }
    .nav-mobile, .li-header-mobile {
        margin: 5px;
        padding: 10px 15px;
        align-items: center;
    }
    .menu-header-mobile {
        display: none;
        position: absolute;
        justify-content: center;
        background-color: #323297;
        top: 111px;
        width: 100%;
    }
    .li-header-mobile a {
        font-size: 19px;
        transition: all ease 0.4s;
        display: inline-block;
    }
    .li-header-mobile a:after {
        display:block;
        content: '';
        border-bottom: solid 3px #019fb6;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out
    }
    .li-header-mobile a:hover:after {
        transform: scaleX(1);
    }
}
/** Desktop MD² **/
@media only screen and (max-width: 770px) {
    .img-area {
        margin: auto!important;
        float: unset;
        width: unset;
    }
    .section-projetos {
        height: auto;
    }
    .projetos-area {
        flex-direction: column;
        align-items: center;
    }
    .projeto {
        padding: 20px 0;
    }
}

/** Mobile **/
@media only screen and (max-width: 450px) {
    .h1-apresentacao {
        font-size: 27px;
    }
    .p-apresentacao {
        font-size: 16.5px;
    }
    .h1-square {
        font-size: 40px;
    }
    .img-sobre {
        width: 275px;
    }
    .p-sobre {
        font-size: 17.5px;
    }
    .img-servicos {
        width: 85px;
        height: 85px;

    }
}
