* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    background-color: #323297;
}

/** Section **/
.section {
    height: auto;
    display: flex;
    justify-content: center;
}
.container {
    margin: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30rem;
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center !important;
}

.login-area {
    margin-top: 50px;
    border-radius: 10px;
    width: 500px;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-area {
    margin: 15px 0;
}
.input {
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 230px;
    height: 30px;
    padding: 20px;
    border: 2px solid #2B2BA1;
    font-size: 16px;
}
.h2-input {
    color: #2B2BA1;
    text-align: center;
    padding: 10px 0;
}
.btn-login {
    width: 230px;
    margin: 25px 0;
    height: 40px;
    border: 2px solid #2B2BA1;
    border-radius: 7px;
    background-color: #323297;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;

}




/** Responsivo **/
@media only screen and (max-width: 500px) {
    .login-area {
        width: 90%;
    }
}